* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: rebeccapurple;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}



.Container {

    background-color: aliceblue;
    width: 900px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.Container > * {
background-color: rgb(226, 176, 13);
width: 10px;
height: 10px;
margin: 1px;
flex: 1;
    
}